<p-table [value]="categorias" [paginator]="true" [rows]="5" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th class="col-btns"></th>
            <th class="col-id">ID</th>
            <th class="col-name">Nome</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
        <tr>
            <td class="col-content-btns">
                <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/admin/categorias', categoria.id]" tooltipPosition="bottom"></p-button>
                <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (onClick)="handleDelete(categoria)"></p-button>
            </td>
            <td class="col-content-id">{{categoria.id}}</td>
            <td class="col-content-name">{{categoria.nome | titlecase}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        Nenhum registro encontrado.
    </ng-template>
</p-table>
