.col-id {
    width: 20px;
}

.col-content-id {
    width: 20px;
    text-align: left;
}

.col-btns {
    width: 30px;
}

.col-content-btns {
    text-align: center;
    width: 30px;
    color: #FFF;
}

.col-name {
    width: 100px;
}

.col-content-name {
    text-align: left;
    width: 100px;
}

.btn-editar {
    margin-right: 5px;
}
