<div class="container">
    <p-toast [style]="{marginTop: '50px'}"></p-toast>
    <form autocomplete="false" [formGroup]="supermercadoForm" (ngSubmit)="onSubmit(supermercadoForm.value)">
       <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
                <h1>Cadastro de Supermercado</h1>
            </div>
       </div>

       <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
                <p style="font-style:italic; font-size: 0.9em;">Os campos com o simbolo asterisco (*) são de preenchimento obrigatório</p>
            </div>
       </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-lg-9 ui-md-12 ui-sm-12 ui-fluid">
                <label>Nome *:</label>
                <input type="text" pInputText formControlName="nome" maxlength="50" pattern="[a-zA-Z-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*"/>
                <p-message severity="error" [text]="supermercadoForm.controls['name'].errors['required'] ? 'Nome é obrigatório' : supermercadoForm.controls['nome'].errors['pattern'] ? 'Só é permitido letras para esse campo' : ''"
                        *ngIf="!supermercadoForm.controls['name'].valid&&supermercadoForm.controls['name'].dirty"></p-message>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>CNPJ *:</label>
                <input type="text" pInputText formControlName="cnpj" maxlength="50" pattern="[a-zA-Z-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*"/>
                <p-message severity="error" text="Unidade de medida é obrigatória" *ngIf="!supermercadoForm.controls['cnpj'].valid&&supermercadoForm.controls['cnpj'].dirty"></p-message>
            </div>

            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>Logo:</label>
                <div class="ui-inputgroup">
                    <input type="text" pInputText type="text" formControlName="descricao"/>
                    <span class="ui-inputgroup-addon">{{supermercadoForm.controls['unit'].value ? supermercadoForm.controls['unit'].value.value.toLowerCase() : ''}}</span>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-3 ui-md-12 ui-sm-12 ui-fluid">
                <label>CEP *:</label>
                <input type="text" pInputText type="text" formControlName="cep"/>
                <p-message severity="error" text="A seleção do campo Perecível é obrigatória" *ngIf="!supermercadoForm.controls['cep'].valid&&supermercadoForm.controls['cep'].dirty"></p-message>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>Endereço *:</label>
                <input pInputText currencyMask formControlName="endereco"/>
                <p-message severity="error" text="Preço é obrigatório" *ngIf="!supermercadoForm.controls['endereco'].valid&&supermercadoForm.controls['endereco'].dirty"></p-message>
            </div>

            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>Taxa de Entrega *:</label>
                <input pInputText currencyMask formControlName="taxaDeEntregaEmReais"/>
                <p-message severity="error" text="Preço é obrigatório" *ngIf="!supermercadoForm.controls['taxaDeEntregaEmReais'].valid&&supermercadoForm.controls['taxaDeEntregaEmReais'].dirty"></p-message>
            </div>

            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>Tempo Mín. de Entrega *:</label>
                <input pInputText currencyMask formControlName="tempoDeEntregaMinimoEmMinutos"/>
                <p-message severity="error" text="Preço é obrigatório" *ngIf="!supermercadoForm.controls['tempoDeEntregaMinimoEmMinutos'].valid&&supermercadoForm.controls['tempoDeEntregaMinimoEmMinutos'].dirty"></p-message>
            </div>

            <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12 ui-fluid">
                <label>Tempo Máx. de Entrega *:</label>
                <input pInputText currencyMask formControlName="tempoDeEntregaMaximoEmMinutos"/>
                <p-message severity="error" text="Preço é obrigatório" *ngIf="!supermercadoForm.controls['tempoDeEntregaMaximoEmMinutos'].valid&&supermercadoForm.controls['tempoDeEntregaMaximoEmMinutos'].dirty"></p-message>
            </div>

        </div>

        <div class="ui-g">
            <div class="ui-g-12">
                <button pButton type="submit" style="margin-right: 10px" [disabled]="formInvalid()" label="Salvar" class="ui-button-info"></button>
                <button pButton type="button" routerLink="/supermercados" label="Cancelar" class="ui-button-secondary"></button>
            </div>
        </div>
    </form>
</div>
