<p-table [value]="supermercados" [paginator]="true" [rows]="5" [scrollable]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="col-btns"></th>
                <th class="col-name">Nome</th>
                <th class="col-descricao">Descrição</th>
                <th class="col-quantidade">Quantidade</th>
                <th class="col-preco">Preço</th>
                <th class="col-promocao">Preço promocional</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-supermercado>
            <tr>
                <td class="col-content-btns">
                    <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/admin/supermercados', supermercado.id]" tooltipPosition="bottom"></p-button>
                    <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (onClick)="handleDelete(supermercado)"></p-button>
                </td>
                <td class="col-content-name">{{supermercado.nome | titlecase}}</td>
                <td class="col-content-descricao">{{supermercado.descricao}}</td>
                <td class="col-content-quantidade">{{supermercado.quantidade}}</td>
                <td class="col-content-preco">{{supermercado.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
                <td class="col-content-promocao">{{supermercado.precoPromocional | currency:'BRL':'symbol':'1.2-2'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            Nenhum registro encrontado.
        </ng-template>
    </p-table>
    