<div class="container">
    <p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
    <p-toast [style]="{marginTop: '50px'}"></p-toast>
    <div class="p-grid">
        <div class="p-col-12">
            <h1>Pesquisa de Categorias</h1>
        </div>
        
        <div class="p-col-12">
                <button pButton type="button" label="Nova categoria" routerLink="/admin/categorias/novo"></button>
            </div>
        <div class="p-col-6">
            <input type="text" [ngModel]="inputSearch" (ngModelChange)="getCategoriasByName($event)" pInputText placeholder="Buscar categorias..."/>
        </div>

        <div class="p-col-12">
            <app-categoria-grade (delete)="dialogDelete($event)" [categorias]="categorias"></app-categoria-grade>
        </div>
    </div>
</div>
